<div class="row text-center justify-content-center p-5">
  <div class="col-8">
    <h1 class="font-weight-normal">About the bootcamp</h1>
    <h5 class="font-weight-normal p-3 text-muted">In this Angular Bootcamp January 2021, we are going to learn
      how to make professional web application development. We will start from the beginning level,
      but we will take our level at any enterprise level software development knowledge.</h5>
  </div>
</div>

<div class="row">
  <div class="col">
    <h5 class="text-justify">We are here to learn angular. We hope to be master in angular in near
      future. But to do this we must need to do all assignment in time. We are here to learn angular.
      We hope to be master in angular in near future. But to do this we must need to do all assignment
      in time. We are here to learn angular. We hope to be master in angular in near future. But to do
      this we must need to do all assignment in time.</h5>
  </div>
</div>
