<div class="container align-items-center font-weight-normal p-5" style="text-align: center; height: 100%;">
    <h1>Angular Bootcamp Jan-2021</h1>
    <h5 class="text-muted">In this Angular Bootcamp January 2021, we are going to learn how to make professional
      web application development. We will start from the beginning level, but we will take our
      level at any enterprise level software development knowledge.</h5>
</div>

<div class="card-container d-flex flex-column flex-md-row align-items-center" style="justify-content: center;">
  <app-html-component class="p-3"></app-html-component>
  <app-java-script-component class="p-3"></app-java-script-component>
  <app-angular-component class="p-3"></app-angular-component>
</div>
